@use '../utilities/' as *;

.attrAnimation {
    animation: attrAnim 500ms linear forwards;

    &:hover {
        animation-play-state: paused;
    }
}

@keyframes attrAnim {
    to {
        transform: translateX(rem(10));
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}